{% extends 'index.html' %}

{% block title %}
    <title>Online Python Compiler</title>
{% endblock %}

{% block content %}

<div class = 'container jumbotron mt-5'>
<h1 class="text-center"> Contact Us</h1><br><br>

<form method='post'>
    {% csrf_token %}
  <div class="mb-3">
    <label for="nm">Name: </label><br>
    <input id="nm" type="text" name="name" class="form-control"><br>

    <label for="email">Email Address: </label><br>
    <input id="email" type="email" name="email" class="form-control"><br>

    <label for="phone">Phone: </label><br>
    <input id="phone" type="number" name="phone" class="form-control"><br>

    <label for="msg">Message: </label><br>
    <textarea id="msg" name="message" class="form-control" rows="6" ></textarea><br><br>

    <input class="btn btn-primary btn-sm col-4" style="margin-left:100px;" type = "submit" value = Submit>
    <input class="btn btn-primary btn-sm col-4" style="margin-left:150px;" type = "reset" value = Reset>
</div>
</form>
</div>

<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
      <h2>Feel free to contact us with any questions or feedback!</h2>
      <p class="lead mb-50 text-justify">
        We're here to help! Whether you have questions, feedback, or just want to say hello, feel free to reach out to us.
        Your thoughts and concerns are important to us, and we'll do our best to get back to you as soon as possible.

        Thank you for being a part of our community! We're committed to providing you with the best experience possible,
        and your input helps us improve every day.<br><br>

        We respect your privacy, so if you prefer not to provide your email and phone number, that's perfectly fine.
        You can simply share your name and message with us.
      </p>
  </div>
</div>

{% endblock %}